<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css">
<title>Hope-ing</title>
</head>
<body>
<h1>Facilities List</h1>
	<table class="table">
		<thead>
			<tr>
				<th>시설명</th>
				<th>카테고리1</th>
				<th>카테고리2</th>
				<th>시도 명칭</th>
				<th>시군구 명칭</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="facilities : ${facilitiesList}">
				<td th:text="${facilities['시설명']}">시설명</td>
				<td th:text="${facilities['카테고리1']}">카테고리1</td>
				<td th:text="${facilities['카테고리2']}">카테고리2</td>
				<td th:text="${facilities['시도_명칭']}">시도 명칭</td>
				<td th:text="${facilities['시군구_명칭']}">시군구 명칭</td>
				<td th:text="${facilities['법정읍면동명칭']}">법정읍면동명칭</td>
			</tr>
		</tbody>
	</table>
	<div>
		<a th:href="@{|/hope-ing/facilities/facilities_list?page=${currentPage - 1}|}" th:if="${currentPage > 1}">이전</a>
		<span th:text="${currentPage}"></span>
		<a th:href="@{|/hope-ing/facilities/facilities_list?page=${currentPage + 1}|}">다음</a>
	</div>
</body>
</html>