<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css">
<title>Hope-ing</title>
</head>
<body>
	<div class="wrap">
		<form id="boardForm" action="/board/read" method="post">
			<div class="read_area">
				<div class="title_area">
       				<span class="title_label"></span>
       				<span class="title_value" th:text="${board.board_title}"></span>
	    		</div>
	    		<div class="writer_area">
	        		<span class="writer_label"></span>
        			<span class="writer_value" th:text="${board.board_writer_nickname}"></span>
	   			</div>
	   			<div class="date_area">
	        		<span class="date_label"></span>
	        		<span class="date_value" th:text="${#dates.format(board.board_regdate, 'yyyy-MM-dd HH:mm')}"></span>
    			</div>
    			<div class="content_area">
        			<span class="content_label"></span>
        			<span class="content_value" th:text="${board.board_content}"></span>
    			</div>
			</div>
		</form>
		<div class="button_area">
			<!-- 수정하기 버튼 -->
			<a id="update_button" th:href="@{/hope-ing/community/update(board_no=${board.board_no})}" th:if="${board.board_writer_nickname == session.user.user_id}">
				<button class="btn btn-lg">수정하기</button>
			</a>
			<!-- 삭제하기 버튼 -->
			<form id="delete_form" th:action="@{/hope-ing/community/delete(board_no=${board.board_no})}" th:method="post" style="display: inline;" th:if="${board.board_writer_nickname == session.user.user_id}">
				<input type="hidden" id="board_no" name="board_no" th:value="${board.board_no}" />
				<button id="delete_button" class="btn btn-lg">삭제하기</button>
			</form>
		</div>
	</div>
</body>
</html>