<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/css/title.css" type="text/css">
<link rel="stylesheet" href="/css/register.css" type="text/css">
<title>Hope-ing</title>
</head>
<body>
	<div class="wrap">
		<form method="post" id="listForm">
			<div class="logo_area">
				<a class="logo_button" href="/hope-ing">Hope-ing</a>
			</div>
			<div class="login_area">
				<!-- 세션에 사용자 정보가 없으면 로그인 버튼 표시 -->
				<th:block th:if="${session.user == null}">
					<a class="login_button" href="/hope-ing/user/login">로그인 / 회원가입</a>
				</th:block>
				<!-- 세션에 사용자 정보가 있으면 로그아웃 버튼 표시 -->
				<th:block th:if="${session.user != null}">
					<a class="login_button" href="/hope-ing/user/logout">로그아웃</a>
				</th:block>
			</div>
			<div class="menu_area">
				<div class="home_area">
					<a class="home_button" href="/hope-ing">홈</a>
				</div>
				<div class="community_area">
					<a class="community_button" href="/hope-ing/community/list">커뮤니티</a>
				</div>
				<div class="facilities_area">
					<a class="facilities_button" href="/hope-ing/facilities/facilities_list">문화시설</a>
				</div>
				<div class="mypage_area" th:if="${session.user != null}">
					<a class="mypage_button" href="/hope-ing/user/mypage">마이페이지</a>
				</div>
			</div>
		</form>
		<div class="wrap_content">
			<form method="post" action="/hope-ing/community/register" id="registerForm" enctype="multipart/form-data">
				<div class="register_area">
					<label for="title"></label>
					<input type="text" class="title" id="board_title" name="board_title" placeholder="제목을 입력하세요.">
					<label for="content"></label>
					<br>
					<br>
					<textarea class="content" id="board_title" rows="5" name="board_content" placeholder="내용을 입력하세요."></textarea>
					<br>
					<input type="file" name="file">
					<div class="button_area">
						<button id="register_button" type="submit" class="btn btn-lg" style="background-color: #9edfbf;">글쓰기</button>
					</div>
				</div>
				<br>
			</form>
		</div>
	</div>
</body>
</html>