<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css">
<title>Hope-ing</title>
</head>
<body>
	<div class="wrap">
		<form method="post" action="/hope-ing/community/register" id="registerForm">
			<div class="register_area">
                <label for="title"></label>
                <input type="text" class="title_control" id="title" name="title" placeholder="제목을 입력하세요.">
                <label for="content"></label>
                <br>
                <br>
                <textarea class="content_control" id="content" rows="5" name="content" placeholder="내용을 입력하세요."></textarea>
            	<br>
            </div>
            <br>
		</form>
	</div>
</body>
</html>