<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css">
<title>Hope-ing</title>
</head>
<body>
	<div class="wrap">
		<form method="post" action="/hope-ing/community/register" id="registerForm">
			<div class="register_area">
				<label for="title"></label>
				<input type="text" class="title" id="board_title" name="board_title" placeholder="제목을 입력하세요.">
				<label for="content"></label>
				<br>
				<br>
				<textarea class="content" id="board_title" rows="5" name="board_content" placeholder="내용을 입력하세요."></textarea>
				<br>
				<button type="submit" class="btn btn-lg" style="background-color: #9edfbf;">글쓰기</button>
			</div>
			<br>
		</form>
	</div>
</body>
</html>