<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/css/title.css" type="text/css">
<link rel="stylesheet" href="/css/main.css" type="text/css">
<script src="/js/main.js"></script>
<title>Hope-ing</title>
</head>
<body>
<div class="wrap">
	<form method="post" id="homeForm">
		<div class="logo_area">
			<a class="logo_button" href="/hope-ing">Hope-ing</a>
		</div>
		<div class="login_area">
			<!-- 세션에 사용자 정보가 없으면 로그인 버튼 표시 -->
			<th:block th:if="${session.user == null}">
				<a class="login_button" href="/hope-ing/user/login">로그인 / 회원가입</a>
			</th:block>
			<!-- 세션에 사용자 정보가 있으면 로그아웃 버튼 표시 -->
			<th:block th:if="${session.user != null}">
				<a class="login_button" href="/hope-ing/user/logout">로그아웃</a>
			</th:block>
		</div>
		<div class="menu_area">
			<div class="home_area">
				<a class="home_button" href="/hope-ing">홈</a>
			</div>
			<div class="community_area">
				<a class="community_button" href="/hope-ing/community/list">커뮤니티</a>
			</div>
			<div class="facilities_area">
				<a class="facilities_button" href="/hope-ing/facilities/facilities_list">문화시설</a>
			</div>
			<div class="mypage_area" th:if="${session.user != null}">
				<a class="mypage_button" href="/hope-ing/user/mypage">마이페이지</a>
			</div>
		</div>
		<div class="banner_area">
			<div class="banner_slider">
				<div class="banner">
    				<div class="img"><img src="/img/"></div>
 				</div>
				<div class="banner">
  					<div class="img"><img src="/img/"></div>
				</div>
				<div class="slider_controls">
					<button class="prev_button">이전</button>
					<button class="next_button">다음</button>
				</div>
				<div class="indicator"></div>
			</div>
		</div>
	</form>
</div>
</body>
</html>
