<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hope-ing</title>
</head>
<body>
<div class="wrap">
	<form method="post" id="homeForm">
		<div class="logo_area">
			<a class="logo_button" href="/hope-ing">Hope-ing</a>
		</div>
		<div class="login_area">
			<!-- 로그인 상태에 따라 버튼 표시 여부 조건문 -->
			<!-- 세션에 사용자 정보가 없으면 로그인 버튼 표시 -->
			<th:block th:if="${session.user == null}">
				<a class="login_button" href="/hope-ing/user/login">로그인 / 회원가입</a>
			</th:block>
			<!-- 세션에 사용자 정보가 있으면 로그아웃 버튼 표시 -->
			<th:block th:if="${session.user != null}">
				<a class="logout_button" href="/hope-ing/user/logout">로그아웃</a>
			</th:block>
		</div>
	</form>
</div>
</body>
</html>