<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/css/join.css">
<title>Hope-ing</title>
</head>
<body>
<div class="wrap">
	<form method="post" id="joinForm">
		<div class="user_id" style="text-align: center;">
			<div class="user_id_input_box">
				<input class="user_id_input" name="user_id" placeholder="아이디" required>
				<div class="error-message" style="color: red;"></div>
			</div>
		</div>
		<br>
		<div class="user_pw" style="text-align: center;">
			<div class="user_pw_input_box">
				<input class="user_pw_input" name="user_pw" placeholder="비밀번호">
			</div>
		</div>
		<br>
		<div class="user_pw_confirm" style="text-align: center;">
			<div class="user_pw_confirm_input_box">
				<input class="user_pw_confirm_input" name="user_pw_confirm" placeholder="비밀번호 확인">
				<div class="error-message" style="color: red;"></div>
			</div>
		</div>
		<br>
		<div class="user_name" style="text-align: center;">
			<div class="user_name_input_box">
				<input class="user_name_input" name="user_name" placeholder="이름">
			</div>
		</div>
		<br>
		<div class="user_nickname" style="text-align: center;">
			<div class="user_nickname_input_box">
				<input class="user_nickname_input" name="user_nickname" placeholder="닉네임">
				<div class="error-message" style="color: red;"></div>
			</div>
		</div>
		<br>
		<div class="user_email" style="text-align: center;">
			<div class="user_email_input_box">
				<input class="user_email_input" type="email" name="user_email" placeholder="이메일">
			</div>
		</div>
		<br>
		<div class="user_phone_num" style="text-align: center;">
			<div class="user_phone_num_input_box">
				<input class="user_phone_num_input" name="user_phone_num" placeholder="전화번호">
			</div>
		</div>
		<br>
		<div class="join_button" style="text-align: center;">
			<button id="join_button" type="submit" class="btn btn-lg" style="background-color: #9edfbf;">가입하기</button>
		</div>
	</form>
</div>
<script th:src="@{/js/jquery-3.6.4.js}"></script>
<script>
	$(document).ready(function() {
		// 회원가입 폼 제출 시 AJAX 요청
		$('#joinForm').submit(function(e) {
			e.preventDefault();
			var form = $(this);
			var url = form.attr('action');
			var method = form.attr('method');
			var formData = form.serialize();
			var errorMessage = $('.error-message');  // 에러 메시지 요소
			
			// 닉네임 중복 여부
			var duplicateNickname = false; // 닉네임 중복 여부
			// 비밀번호 확인
			var password = $('.user_pw_input').val(); // 비밀번호 입력값
			var confirmPassword = $('.user_pw_confirm_input').val(); // 비밀번호 확인 입력값
			// 아이디 중복 여부
			var duplicateId = false;
			
			// 닉네임 중복 여부 체크
			$.ajax({
				url: url,
				method: 'POST',
				data: formData,
				data: { user_nickname: $('.user_nickname_input').val() },
				async: false,  // 동기적으로 처리
				success: function(response) {
					duplicateNickname = response;
				}
			});
			
			// 아이디 중복 여부 체크
			$.ajax({
				url: url,
				method: 'POST',
				data: formData,
				data: { user_id: $('.user_id_input').val() },
				async: false,
				success: function(response) {
					duplicateId = response;
				}
			});
			
			// 닉네임이 중복된 상태인 경우
			if (duplicateNickname) {
				// 닉네임 입력란에 invalid 클래스 추가
				$('.user_nickname_input').addClass('invalid');
				$('.user_nickname_input_box .error-message').text('*중복된 닉네임입니다.');  // 닉네임 에러 메시지 출력
			}
			else {
				$('.user_nickname_input').removeClass('invalid'); // 닉네임이 중복되지 않은 경우 invalid 클래스 제거
				$('.user_nickname_input_box .error-message').text(''); // 에러 메시지 제거
			}
			
			// 비밀번호가 일치하지 않는 경우
			if (password !== confirmPassword) {
				// 비밀번호 확인 입력란에 invalid 클래스 추가
				$('.user_pw_confirm_input').addClass('invalid');
				$('.user_pw_confirm_input_box .error-message').text('*비밀번호가 일치하지 않습니다.');  // 비밀번호 확인 에러 메시지 출력
				return;
			}
			else {
				$('.user_pw_confirm_input').removeClass('invalid'); // 비밀번호가 일치한 경우 invalid 클래스 제거
				$('.user_pw_confirm_input_box .error-message').text(''); // 에러 메시지 제거
			}
			
			// 아이디가 중복된 상태인 경우
			if (duplicateId) {
				// 아이디 입력란에 invalid 클래스 추가
				$('.user_id_input').addClass('invalid');
				$('.user_id_input_box .error-message').text('*중복된 아이디입니다.');  // 아이디 에러 메시지 출력
				return;
			}
			else {
				$('.user_id_input').removeClass('invalid'); // 아이디가 중복되지 않은 경우 invalid 클래스 제거
				$('.user_id_input_box .error-message').text(''); // 에러 메시지 제거
			}
			
		
			// AJAX 요청
			$.ajax({
				url: url,
				method: method,
				data: formData,
				success: function(response) {
					location.href = '/hope-ing/user/login';  // 로그인 페이지로 이동
				},
				error: function(xhr) {
					if (xhr.status === 409) {
						// 아이디 입력란에 invalid 클래스 추가
						$('.user_id_input').addClass('invalid');
						$('.user_id_input_box .error-message').text('*사용 중인 아이디입니다.');  // 아이디 에러 메시지 출력
					}
					else if (xhr.status === 410) {
						// 닉네임 입력란에 invalid 클래스 추가
						$('.user_nickname_input').addClass('invalid');
						$('.user_nickname_input_box .error-message').text('*사용 중인 닉네임입니다.');  // 닉네임 에러 메시지 출력
					}
				}
			});
		});
	});
</script>
</body>
</html>