<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/css/title.css" type="text/css">
<link rel="stylesheet" href="/css/join.css" type="text/css">
<script 개인 폰트어썸 kit></script>
<title>Hope-ing</title>
</head>
<body>
	<div class="wrap">
		<form method="post" id="joinForm">
			<div class="logo_area">
				<a class="logo_button" href="/hope-ing">Hope-ing</a>
			</div>
			<div class="login_area">
				<!-- 세션에 사용자 정보가 없으면 로그인 버튼 표시 -->
				<th:block th:if="${session.user == null}">
					<a class="login_button" href="/hope-ing/user/login">로그인 / 회원가입</a>
				</th:block>
				<!-- 세션에 사용자 정보가 있으면 로그아웃 버튼 표시 -->
				<th:block th:if="${session.user != null}">
					<a class="login_button" href="/hope-ing/user/logout">로그아웃</a>
				</th:block>
			</div>
			<div class="menu_area">
				<div class="home_area">
					<a class="home_button" href="/hope-ing">홈</a>
				</div>
				<div class="community_area">
					<a class="community_button" href="/hope-ing/community/list">커뮤니티</a>
				</div>
				<div class="facilities_area">
					<a class="facilities_button" href="/hope-ing/facilities/facilities_list">문화시설</a>
				</div>
				<div class="mypage_area" th:if="${session.user != null}">
					<a class="mypage_button" href="/hope-ing/user/mypage">마이페이지</a>
				</div>
			</div>
			<div class="join_wrap">
				<div class="join_logo">
						회원가입
				</div>
				<div class="user_id" style="text-align: center;">
					<div class="user_id_input_box">
						<input class="user_id_input" name="user_id" placeholder="아이디(5~20자의 영문 소문자, 숫자, 특수기호(_))">
					</div>
						<span class="user_id_input_fail">사용 중인 아이디입니다.</span>
						<span class="final_id_ck"></span>
						<span class="user_id_warning" style="display: none; color: red;">잘못된 형식의 아이디입니다.</span>
				</div>
				<br>
				<div class="user_pw" style="text-align: center;">
					<div class="user_pw_input_box">
						<input class="user_pw_input" id="user_pw" name="user_pw" type="password" placeholder="비밀번호(8~20자의 영문 대/소문자, 숫자, 특수문자)">
						<div class="user_pw_eye">
							<i class="fa-solid fa-eye fa-sm"></i>
						</div>
						<span class="user_pw_warning" style="display: none; color: red;">잘못된 형식의 비밀번호입니다.</span>
					</div>
				</div>
				<br>
				<div class="user_pw_confirm" style="text-align: center;">
					<div class="user_pw_confirm_input_box">
						<input class="user_pw_confirm_input" name="user_pw_confirm" placeholder="비밀번호 확인">
						<div class="user_pw_confirm_eye">
							<i class="fa-solid fa-eye fa-sm"></i>
						</div>
						<span class="user_pw_confirm_warning" style="display: none; color: red;">비밀번호가 일치하지 않습니다.</span>
					</div>
				</div>
				<br>
				<div class="user_name" style="text-align: center;">
					<div class="user_name_input_box">
						<input class="user_name_input" name="user_name" placeholder="이름">
						<span class="user_name_warning" style="display: none; color: red;">이름은 한글로 최소 2자 이상 입력해주세요.</span>
					</div>
				</div>
				<br>
				<div class="user_nickname" style="text-align: center;">
					<div class="user_nickname_input_box">
						<input class="user_nickname_input" name="user_nickname" placeholder="닉네임(2~20자의 영문 소문자, 한글, 숫자, 특수기호(_)" >
						<span class="user_nickname_warning" style="display: none; color: red;">잘못된 형식의 닉네입니다.</span>
					</div>
				</div>
				<br>
				<div class="user_email" style="text-align: center;">
					<div class="user_email_input_box">
						<input class="user_email_input" name="user_email" placeholder="이메일">
						<span class="user_email_warning" style="display: none; color: red;">유효한 이메일 주소를 입력해주세요.</span>
					</div>
				</div>
				<br>
				<div class="user_phone_num" style="text-align: center;">
					<div class="user_phone_num_input_box">
						<input class="user_phone_num_input" name="user_phone_num" placeholder="전화번호(- 제외)">
						<span class="user_phone_num_warning" style="display: none; color: red;">전화번호 형식에 맞게 입력해주세요. (예: 01012345678)</span>
					</div>
				</div>
				<br>
				<div class="join_button_wrap" style="text-align: center;">
					<button id="join_button" type="submit" class="btn btn-lg" style="background-color: #9edfbf;">가입하기</button>
				</div>
			</div>
		</form>
	</div>
<script th:src="@{/js/jquery-3.6.4.js}"></script>
<script>
	// 비밀번호 확인 눈 모양 아이콘
	$(document).ready(function(){
		$('.user_pw_confirm_eye').on('click', function(){
			var input = $(this).siblings('.user_pw_confirm_input');
			input.toggleClass('active');
			
			if (input.hasClass('active')) {
				$(this).find('i').attr('class', 'fa-solid fa-eye-slash fa-sm');
				input.attr('type', 'text');
			}
			else {
				$(this).find('i').attr('class', 'fa-solid fa-eye fa-sm');
				input.attr('type', 'password');
			}
		});
	});
	
	//비밀번호 눈 모양 아이콘
	$(document).ready(function(){
		$('.user_pw_eye').on('click', function(){
			var input = $(this).siblings('.user_pw_input');
			input.toggleClass('active');
			
			if (input.hasClass('active')) {
				$(this).find('i').attr('class', 'fa-solid fa-eye-slash fa-sm');
				input.attr('type', 'text');
			}
			else {
				$(this).find('i').attr('class', 'fa-solid fa-eye fa-sm');
				input.attr('type', 'password');
			}
		});
	});

	var idCheck = false;
	var idCkCheck = false;
	
	// 정규식 패턴
	var idPattern = /^[a-z0-9_]{5,20}$/;
	var passwordPattern = /^[a-zA-Z0-9!@#$%^&*()]{8,20}$/;
	var passwordConfirmPattern = /^[a-zA-Z0-9!@#$%^&*()]{8,20}$/;
	var namePattern = /^[가-힣]{2,}$/;
	var nicknamePattern = /^[a-zA-Z0-9가-힣_]{2,20}$/;
	var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
	var phoneNumPattern = /^\d{3}(?!-)\d{3,4}(?!-)\d{4}$/;
	
	// 아이디 중복 검사
	function checkDuplicateId(callback) {
		var user_id = $('.user_id_input').val();
		var data = {user_id : user_id}
		
		$.ajax({
			type : "post",
			url : "/hope-ing/user/userIdCheck",
			data : data,
			success : function(result){
				if(result != 'fail') {
					$('.user_id_input_fail').css("display", "none");
					idCheck = true;
					idCkCheck = true;
				}
				else {
					$('.user_id_input_fail').css("display", "inline-block");
					idCheck = false;
					idCkCheck = false;
				}
				
				if (callback && typeof callback === 'function') {
					callback();
				}
			}
		});	
	}
	
	$(document).ready(function(){
		//회원가입 버튼(회원가입 기능 작동)
		$("#join_button").click(function(e){
			e.preventDefault();
			
			/* 입력값 변수 */
			var user_id = $('.user_id_input').val();
			var user_pw = $(".user_pw_input").val();
			var user_pw_confirm = $(".user_pw_confirm_input").val();
			var user_name = $(".user_name_input").val();
			var user_nickname = $(".user_nickname_input").val();
			var user_email = $(".user_email_input").val();
			var user_phone_num = $(".user_phone_num_input").val();
			
			// 아이디 중복 검사	
			if(user_id == ""){
				$('.final_id_ck').css('display','block');
				idCheck = false;
			}
			else{
				$('.final_id_ck').css('display', 'none');
				idCheck = true;
			}
			

			// 아이디 검사
			if (!idPattern.test(user_id)) {
				$(".user_id_input").addClass("invalid");
				$(".user_id_warning").css("display", "block");
				return;
			}
			else {
				$(".user_id_input").removeClass("invalid");
				$(".user_id_warning").css("display", "none");
			}
			
			// 비밀번호 검사
			if (!passwordPattern.test(user_pw)) {
				$(".user_pw_input").addClass("invalid");
				$(".user_pw_warning").css("display", "block");
				return;
			}
			else {
				$(".user_pw_input").removeClass("invalid");
				$(".user_pw_warning").css("display", "none");
			}
			// 비밀번호 확인 검사
			if (user_pw !== user_pw_confirm) {
				$(".user_pw_confirm_input").addClass("invalid");
				$(".user_pw_confirm_warning").css("display", "block");
				return;
			}
			else {
				$(".user_pw_confirm_input").removeClass("invalid");
				$(".user_pw_confirm_warning").css("display", "none");
			}
			
			// 이름 검사
			if (!namePattern.test(user_name)) {
				$(".user_name_input").addClass("invalid");
				$(".user_name_warning").css("display", "block");
				return;
			}
			else {
				$(".user_name_input").removeClass("invalid");
				$(".user_name_warning").css("display", "none");
			}
			
			// 닉네임 검사
			if (!nicknamePattern.test(user_nickname)) {
				$(".user_nickname_input").addClass("invalid");
				$(".user_nickname_warning").css("display", "block");
				return;
			}
			else {
				$(".user_nickname_input").removeClass("invalid");
				$(".user_nickname_warning").css("display", "none");
			}
			
			// 이메일 검사
			if (!emailPattern.test(user_email)) {
				$(".user_email_input").addClass("invalid");
				$(".user_email_warning").css("display", "block");
				return;
			}
			else {
				$(".user_email_input").removeClass("invalid");
				$(".user_email_warning").css("display", "none");
			}
			
			// 전화번호 검사
			if (!phoneNumPattern.test(user_phone_num)) {
				$(".user_phone_num_input").addClass("invalid");
				$(".user_phone_num_warning").css("display", "block");
				return;
			}
			else {
				$(".user_phone_num_input").removeClass("invalid");
				$(".user_phone_num_warning").css("display", "none");
			}
			
			/* 중복 확인 */
			if (idCheck) {
				checkDuplicateId(function() {
					/* 최종 유효성 검사 */
					if (idCheck && idCkCheck && $('.user_id_input_fail').is(':hidden')) {
						$("#joinForm").submit();
					}
				});
			}
		});
	});
</script>
</body>
</html>