<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/css/login.css">
<script 개인 폰트어썸 kit> </script>
<title>Hope-ing</title>
</head>
<body>
<div class="wrap">
	<form method="post" id="loginForm">
		<div class="user_id" style="text-align: center;">
			<div class="user_id_input_box">
				<input class="user_id_input" name="user_id" placeholder="아이디">
			</div>
		</div>
		<br>
		<div class="user_pw" style="text-align: center;">
			<div class="user_pw_input_box">
				<input class="user_pw_input" type="password" name="user_pw" placeholder="비밀번호">
				<div class="user_pw_eye">
					<i class="fa-solid fa-eye fa-sm"></i>
				</div>
			</div>
		</div>
		<div class="login_button_wrap">
			<button id="login_button" type="submit" class="btn btn-lg" style="background-color: #9edfbf;">로그인</button>
		</div>
		<hr>
	</form>
</div>
<script th:src="@{/js/jquery-3.6.4.js}"></script>
<script>
	//비밀번호 눈 모양 아이콘
	$(document).ready(function(){
		$('.user_pw_eye').on('click', function(){
			var input = $(this).siblings('.user_pw_input');
			input.toggleClass('active');
			
			if (input.hasClass('active')) {
				$(this).find('i').attr('class', 'fa-solid fa-eye-slash fa-sm');
				input.attr('type', 'text');
			}
			else {
				$(this).find('i').attr('class', 'fa-solid fa-eye fa-sm');
				input.attr('type', 'password');
			}
		});
	});
</script>
</body>
</html>